/* -- footer --
--------------------------------------------------------------*/
.p-footer {
  text-align: center;

  &__copyright {
    color: $color-g-2;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;

    @include mq(xl) {
      padding-top: 10px;
      padding-left: 20px;
      padding-right: 20px;
      border-top: 1px solid $color-g-2;
    }
  }
}
