.p-navigation {
  margin-left: auto;

  &__hidden {
    display: none;
  }

  &__button {
    display: flex;
    position: relative;
    z-index: 10001;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    cursor: pointer;

    @include mq(md, min) {
      display: none;
    }

    & span {
      &,
      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 25px;
        height: 3px;
        transition: .3s;
        border-radius: 3px;
        background: $color-w;
      }

      &:before {
        bottom: 8px;
      }

      &:after {
        top: 8px;
      }
    }
  }

  &__content {
    @include mq(md) {
      display: flex;
      position: fixed;
      z-index: 1000;
      top: 0;
      left: 100%;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      transition: .3s;
      background: $color-k;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;

    @include mq(md, min) {
      flex-direction: row;
      gap: 86px;
    }
  }

  &__link {
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;

    &.is-active {
      font-weight: bold;
    }
  }
}

#hamburger {
  &:checked {
    & ~ .p-navigation__button span {
      background: rgba(255, 255, 255, 0);

      &:before {
        bottom: 0;
        transform: rotate(45deg);
      }

      &:after {
        top: 0;
        transform: rotate(-45deg);
      }
    }

    & ~ .p-navigation__content {
      left: 0;
    }
  }
}